@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<h4 class="text-center">@Model.TeamName Roster</h4>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>First Name </th>
                <th>Middle Init.</th>
                <th>Last Name </th>
                <th>Address </th>
                <th>City </th>
                <th>State </th>
                <th>Zip </th>
                <th>Phone Number </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Bowlers)
            {
            <tr>
                <td>@x.BowlerFirstName</td>
                <td>@x.BowlerMiddleInit</td>
                <td>@x.BowlerLastName</td>
                <td>@x.BowlerAddress</td>
                <td>@x.BowlerCity</td>
                <td>@x.BowlerState</td>
                <td>@x.BowlerZip</td>
                <td>@x.BowlerPhoneNumber</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div page-info="@Model.PageNumberingInfo"
     page-url-teamname="@Model.TeamName"
     page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     class="btn-group pull-right m-1 text-center">

</div>
